    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'roboto', sans-serif;
        line-height: 1.7;
        scroll-behavior: smooth
    }
    
    .container {
        width: var(--container-width-lg);
        padding: 2rem 1rem;
    }
    
    section {
        padding: 0 6rem;
    }
    
    div {
        margin: 0;
        color: white;
    }
    
    h1 {
        font-size: 36px;
        /* font-size: 30px; */
    }
    
    h2 {
        font-size: 26px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    h5 {
        font-size: 16px;
        font-weight: 300;
    }
    
    p {
        font-size: 16px;
    }
    
     :root {
        --color-grey1: #656567;
        --color-grey2: #b8b8b8;
        --color-black: #000;
        --container-width-lg: 80%;
        --container-width-md: 90%;
        --container-width-sm: 94%;
        --transition: all 400ms ease;
    }
    /*NAVBAR*/
    
    nav {
        background: var(--color-grey1);
        width: 100vw;
        height: 4rem;
        position: fixed;
        top: 0;
        z-index: 11;
        align-items: center;
        -webkit-box-shadow: 0px 15px 22px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 15px 22px -8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 15px 22px -8px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 1rem 1rem;
    }
    
    .nav__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0rem auto;
    }
    
    .logo img {
        width: 40px;
        margin-top: 5px;
    }
    
    #menu__toggle {
        opacity: 0;
    }
    
    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }
    
    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }
    
    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu__toggle:checked~.menu__box {
        right: 0 !important;
    }
    
    .menu__btn {
        position: fixed;
        top: 27px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
    }
    
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        right: 100%;
        width: 300px;
        height: fit-content;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: var(--color-grey1);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        border-radius: 1rem;
    }
    
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    
    .socials {
        text-align: center;
    }
    
    .socials img {
        padding: 1rem;
    }
    
    .socials img:hover {
        scale: 1.1;
    }
    
    .title a {
        text-decoration: none;
        color: white;
    }
    /*HEADER*/
    
    header {
        position: relative;
        top: 3rem;
        overflow: hidden;
        height: fit-content;
        background-color: var(--color-grey1);
        padding: 2rem 1rem;
        background-size: cover;
        z-index: 0;
    }
    
    .header__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
        margin-bottom: 0;
        width: 100%;
    }
    
    .header__right h1 {
        margin-bottom: 2rem;
    }
    
    .header__right-image {
        display: grid;
    }
    
    .header__right-image img {
        margin: 40px auto;
        justify-content: center;
        width: 60%;
    }
    
    .joinbtn {
        background-color: white;
        padding: 15px;
        border-radius: 30px;
        margin-top: 2rem;
        color: var(--color-grey1);
        -webkit-box-shadow: 0px 11px 22px 1px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 0px 11px 22px 1px rgba(0, 0, 0, 0.64);
        box-shadow: 0px 11px 22px 1px rgba(0, 0, 0, 0.64);
    }
    
    .joinbtn:hover {
        background-color: var(--color-grey2);
        transition: 0.7s;
        color: #000;
    }
    /*ABOUT*/
    
    .about {
        background-color: var(--color-grey2);
        transition: 1s;
    }
    
    .about__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .about__right {
        display: inline-block;
    }
    
    .about__right__images {
        margin: auto;
        text-align: center;
        padding-top: 1rem;
    }
    
    .about__right img {
        width: 35%;
    }
    
    .about__container p {
        margin-bottom: 40px;
    }
    
    .staybtn {
        background-color: white;
        padding: 15px;
        border-radius: 30px;
        margin-top: 2rem;
        color: var(--color-grey1);
        -webkit-box-shadow: 0px 11px 22px 1px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 0px 11px 22px 1px rgba(0, 0, 0, 0.64);
        box-shadow: 0px 11px 22px 1px rgba(0, 0, 0, 0.64);
    }
    
    .staybtn:hover {
        background-color: var(--color-grey2);
        transition: 0.7s;
        color: #000;
    }
    /*ROADMAP*/
    
    .roadmap {
        background-color: var(--color-grey1);
    }
    
    .roadmap__container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .roadmap img {
        width: 100%;
        display: block;
        text-align: center;
        margin: 2rem auto;
    }
    
    .roadmap__container h2 {
        text-align: center;
    }
    /*CASINO*/
    
    .casino {
        background-color: var(--color-grey2);
    }
    
    .casino__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .casino__right img {
        margin: 64px auto;
        padding: 0 auto;
        justify-content: right;
        display: block;
        width: 60%;
    }
    
    .quote {
        margin-top: 2rem;
    }
    
    .h3-right {
        text-align: right;
    }
    /*TOKENOMIC*/
    
    .tokenomic {
        background-color: var(--color-grey1);
    }
    
    .tokenomic__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .tokenomic img {
        margin: 64px auto;
        padding: 0 auto;
        justify-content: right;
        display: block;
        width: 60%;
    }
    /*BRAND*/
    
    .brand {
        background-color: var(--color-grey2);
    }
    
    .brand__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .brand img {
        margin: 64px auto;
        padding: 0 auto;
        justify-content: right;
        display: block;
        width: 60%;
    }
    /*BULLY*/
    
    .ambully {
        background-color: var(--color-grey1);
    }
    
    .ambully__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: top;
        gap: 5rem;
        height: 100%;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .ambully__container h2 {
        margin-bottom: 1rem;
    }
    
    .ambully__container li {
        list-style-type: disc;
        margin-left: 1rem;
    }
    
    .ambully__left,
    .ambully__right {
        border: solid 1px;
        padding: 2rem;
        border-radius: 2rem;
        margin-top: 1rem;
    }
    /*FAQs*/
    
    .faqs {
        background-color: var(--color-grey2);
    }
    
    .faqs__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
    }
    
    .faqs-img {
        margin: 64px auto;
        padding: 0 auto;
        justify-content: right;
        display: block;
        width: 60%;
    }
    
    .accordion a {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding: 1rem 3rem 1rem 1rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
        border-bottom: 1px solid #e5e5e5;
        justify-content: center;
    }
    
    .accordion a:hover,
    .accordion a:hover::after {
        cursor: pointer;
        color: var(--color-grey1);
    }
    
    .accordion a:hover::after {
        border: 0px transparent var(--color-grey1);
    }
    
    .accordion a.active {
        color: black;
        border-bottom: 0px solid #944bfb;
    }
    
    .accordion a::after {
        font-family: 'Ionicons';
        content: '\f218';
        position: absolute;
        float: right;
        right: 1rem;
        font-size: 1rem;
        color: #7288a2;
        padding: 5px;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 1px transparent #7288a2;
        text-align: center;
    }
    
    .accordion a.active::after {
        font-family: 'Ionicons';
        content: '\f209';
        color: var(--color-faqafter);
        border: 1px transparent var(--color-faqafter);
    }
    
    .accordion .content {
        opacity: 0;
        padding: 0 1rem;
        max-height: 0;
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
        clear: both;
        -webkit-transition: all 0.2s ease 0.15s;
        -o-transition: all 0.2s ease 0.15s;
        transition: all 0.2s ease 0.15s;
    }
    
    .accordion .content p {
        font-size: 1rem;
        font-weight: 300;
    }
    
    .accordion .content.active {
        opacity: 1;
        padding: 1rem;
        max-height: 100%;
        -webkit-transition: all 0.35s ease 0.15s;
        -o-transition: all 0.35s ease 0.15s;
        transition: all 0.35s ease 0.15s;
    }
    /*FOOTER*/
    
    .upfooter {
        background-color: var(--color-grey2);
        padding: 3rem;
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
    }
    
    .downfooter {
        background-color: var(--color-grey1);
        padding: 6rem;
        text-align: center;
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
    }
    
    .downfooter p {
        padding-top: 1rem;
    }
    
    hr {
        width: 100%;
        height: 1px;
        background: #fff;
    }
    /*FOLDER TAG*/
    
    .buttontag {
        background-color: transparent;
        position: relative;
        border: none;
        text-align: center;
        width: 30%;
    }
    
    .buttontag p {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .buttontag p:hover {
        color: black;
    }
    
    .foldertag img {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: -10px;
    }
    
    .foldertag__about {
        background-color: var(--color-grey1);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
    }
    
    .foldertag__roadmap__container {
        transform: translateX(25%);
    }
    
    .foldertag__roadmap {
        background-color: var(--color-grey2);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
    }
    
    .foldertag__casino__container {
        transform: translateX(50%);
    }
    
    .foldertag__casino {
        background-color: var(--color-grey1);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
    }
    
    .foldertag__tokenomic__container {
        transform: translateX(70%);
    }
    
    .foldertag__tokenomic {
        background-color: var(--color-grey2);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
    }
    
    .foldertag__brand__container {
        transform: translateX(10%);
    }
    
    .foldertag__brand {
        background-color: var(--color-grey1);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
    }
    
    .foldertag__ambully__container {
        transform: translateX(35%);
    }
    
    .foldertag__ambully {
        background-color: var(--color-grey2);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.45);
    }
    
    .foldertag__faqs__container {
        transform: translateX(60%);
    }
    
    .foldertag__faqs {
        background-color: var(--color-grey1);
        -webkit-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0px -15px 14px -8px rgba(0, 0, 0, 0.3);
    }
    /*------------------------- Media Queries -------------------------*/
    
    @media only screen and (max-width: 768px) {
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
        h4 {
            font-size: 16px;
        }
        h5 {
            font-size: 14px;
        }
        p {
            font-size: 14px;
        }
        .container {
            width: var(--container-width-sm);
            padding: 1rem .5rem;
        }
        section {
            padding: 0 2rem;
        }
        /*header*/
        .header__container {
            display: inline-block;
            text-align: center;
            align-items: center;
        }
        .header__left-image img {
            width: 70%;
            margin-bottom: 3rem;
        }
        /*about*/
        .about__container {
            display: inline-block;
            text-align: center;
        }
        .about__right {
            display: none;
        }
        /*roadmap*/
        .roadmap img {
            width: 100%;
        }
        /*casino*/
        .casino__container {
            display: inline-block;
            text-align: center;
            align-items: center;
        }
        .casino__right img {
            width: 70%;
            margin-bottom: 3rem;
        }
        /*tokenomic*/
        .tokenomic__container {
            display: inline-block;
            text-align: center;
            align-items: center;
        }
        .tokenomic__left img {
            width: 70%;
            margin-bottom: 3rem;
        }
        /*brand*/
        .brand__container {
            display: inline-block;
            text-align: center;
            align-items: center;
        }
        .brand__right img {
            width: 70%;
            margin-bottom: 3rem;
        }
        /*ambully*/
        .ambully__container {
            display: inline-block;
            text-align: center;
            align-items: center;
        }
        /*faqs*/
        .faqs__container {
            display: inline-block;
            text-align: center;
        }
        .faqs__right img {
            width: 80%;
            margin-top: 2rem;
        }
        .accordion a::after {
            width: 20px;
            height: 20px;
        }
        /*rest*/
        .buttontag {
            background-color: transparent;
            position: relative;
            border: none;
            text-align: center;
            width: 85%;
        }
        .foldertag__about__container {
            transform: translateX(0%);
            text-align: center;
        }
        .foldertag__roadmap__container {
            transform: translateX(0%);
            text-align: center;
        }
        .foldertag__casino__container {
            transform: translateX(00%);
            text-align: center;
        }
        .foldertag__tokenomic__container {
            transform: translateX(00%);
            text-align: center;
        }
        .foldertag__brand__container {
            transform: translateX(00%);
            text-align: center;
        }
        .foldertag__ambully__container {
            transform: translateX(0%);
            text-align: center;
        }
        .foldertag__faqs__container {
            transform: translateX(00%);
            text-align: center;
        }
    }
